.header-container{
    display: flex;
    background:$dark-purple-main;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.header-image{
    border-radius: 50%;
    width:75px; 
    height:75px;
    padding: 1vh;
}
.header-enlace{
    color: white;
    padding: 1vh;
}